
@model Restaurant.WebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="ContainerForForm">
    <h2>Create new employee</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "validation-msg" })

        <div class="f-group">
            @Html.LabelFor(m => m.Email)
            <div class="f-input">
                @Html.TextBoxFor(m => m.Email)
                <span class="validation-msg">
                    @Html.ValidationMessageFor(m => m.Email)
                </span>
            </div>
        </div>
        <div class="f-group">
            @Html.LabelFor(m => m.Password)
            <div class="f-input">
                @Html.PasswordFor(m => m.Password)
                <span class="validation-msg">
                    @Html.ValidationMessageFor(m => m.Password)
                </span>
            </div>
        </div>
        <div class="f-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="f-input">
                @Html.PasswordFor(m => m.ConfirmPassword)
                <span class="validation-msg">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </span>
            </div>
        </div>
        <div class="right-button">
            <input type="submit" value="Register new employee" class="btn-submit" />
        </div>
        <div style="clear: both;"></div>
    }
</div>