@model Restaurant.WebUI.Models.MenuCategoryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div id="ContainerForForm">
    <a class="backLink" href="@Url.Action("Manage","MenuCategory")">Return to menu categories</a>
    <h2>New menu category</h2>
    @using (Html.BeginForm("Create", "MenuCategory", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "validation-msg" })
        <div class="f-group">
            @Html.LabelFor(m => m.Name)
            <div class="f-input">
                @Html.EditorFor(m => m.Name)
                <span class="validation-msg">
                    @Html.ValidationMessageFor(m => m.Name)
                </span>
            </div>
        </div>
        <div class="f-group">
            @Html.LabelFor(m => m.Position)
            <div class="f-input">
                @Html.EditorFor(m => m.Position)
                <span class="validation-msg">
                    @Html.ValidationMessageFor(m => m.Position)
                </span>
            </div>
        </div>
        <div class="right-button">
            <input type="submit" value="Add new menu category" class="btn-submit" />
        </div>
        <div style="clear: both;"></div>
    }
</div>

